#body-container{
    position: relative;
    margin-top: 50px;
    min-height: calc(100vh - 50px);
    height: 100%;
    width: 100%;
    transition: .4s ease-in-out;
    /* background-color: rgba(218, 224, 230, 10); */
    background-color: rgb(231, 239, 244);
}

#body-content-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body-close {
    margin-left: calc(50px);
}

.body-open {
    margin-left: calc(200px);
}

#loading-body{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    animation: loading-grow 2s infinite both ease-in-out;
}

#loading-circle-1{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 6px solid #0079D3;
}

#loading-circle-1::before{
    content: "";
    position: absolute;
    z-index: 1;
    top: calc(50% - 50px);
    left: calc(100% - 50px);
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: rgb(231, 239, 244);
    transform-origin: left;
    animation: loading 1s infinite ease;
}

#loading-circle-2{
    z-index: 1;
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    border: 5px solid #0079D3;
}


#loading-circle-2::after{
    content: "";
    position: absolute;
    z-index: 1;
    top: calc(50% - 25px);
    left: calc(100% - 10px);
    width: 20px;
    height: 50px;
    border-radius: 100%;
    background-color: rgb(231, 239, 244);
    transform-origin: -27.5px;
    animation: loading 1s infinite reverse ease;
}

#loading-body p {
    z-index: 999;
    font-size: 1.2em;
    color: #0079D3;
    font-weight: 600;
}

.filter-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.filter-subcontainer{
    display: flex;
    align-items: center;
    background-color: white;
    width: 80%;
    max-width: 1200px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.filter-subcontainer p{
    margin-left: 1.5em;
}

.pointer{
    cursor: pointer;
    background-color: rgb(230, 230, 230);
    padding: .4em 1.2em;
    border-radius: 16px;
    transition: .3s all ease-in-out;
    user-select: none;
}

.pointer:hover{
    color: #0079D3;
    background-color: rgb(200, 200, 200);
}

.selected{
    cursor: default;
    background-color: #0079D3;
    color: white;
    padding: .4em 1.2em;
    border-radius: 16px;
    user-select: none;
}

@keyframes loading {
    0% {
       transform: rotate(0deg); 
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loading-grow {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
}