#sidenav-cont{
    position: fixed;
    top: 50px;
    left: 0px;
    display: flex;
    flex-direction: column;
    z-index: 9999;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    transition: .4s ease-in-out;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.sidenav-open{
    width: 200px;
}

.sidenav-close{
    width: 50px;
}

.sidenav-section{
    cursor: pointer;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 65px;
    transform: scaleY(100%);
    transition: all .5s ease;
}

.sidenav-section:hover{
    transform: scale(105%);
    color: #0079D3;
}

.sidenav-img{
    width: 25px;
    height: 25px;
    margin-left: 12.5px;
}

.sidenav-text{
    display: flex;
    margin-left: 20px;
    width:fit-content;
    /* https://css-tricks.com/almanac/properties/w/whitespace/ */
    white-space: nowrap;
}